/* geral */

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}


/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Share+Tech+Mono&display=swap');
.koulen {
    font-family: 'Koulen', cursive;
}

.share {
    font-family: 'Share Tech Mono', monospace;
}


/* variáveis */

:root {
    --h1: #F5A300;
    --button: #F5A300;
    --theme-color: #fff;
    --details-color: #212121;
    --button-hover: #000;
}

.dark-theme {
    --theme-color: #212121;
    --details-color: #fff;
    --button: #F5A300;
    --name-button: #000;
}

body {
    background-color: var(--theme-color);
}

#light {
    /* float: right; */
    margin: 2rem 0 0 2rem;
    cursor: pointer;
}

#inicio {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    margin-top: 15%;
}

#inicio h1 {
    font-size: 8.5rem;
    color: var(--h1);
}

#comecar {
    color: var(--details-color);
    width: 10rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
    background-color: var(--button);
    text-transform: uppercase;
    transition: all 0.5s;
    border-radius: 0.2rem;
    font-weight: 700;
}

#comecar:hover {
    background-color: var(--button-hover);
    color: var(--button);
    box-shadow: 3px -6px 13px -2px rgba(0, 0, 0, 0.75);
}

#comecar:focus,
#comecar:active {
    border: none;
}