/* geral */

* {
    margin: 0;
    padding: 0;
}


/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Share+Tech+Mono&display=swap');
.koulen {
    font-family: 'Koulen', cursive;
}

.share {
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: -0.5rem;
}


/* variáveis */

html {
    --h1: #F5A300;
    --button: #F5A300;
    --numbers: #F5A300;
    --theme-color: #fff;
    --details-color: #ececec;
    --button-hover: #000;
    --cards: #1D307C;
    --css: #0F5892;
    --page-htmlTheme: #FF5722;
    --page-jsTheme: #FFBA32;
    --page-cssTheme: #2196F3;
    --words-question-css-html: #fff;
    --html: #D23403;
    --js: #DF9707;
    --words-question-js: #000;
    --shadow-cards: rgba(0, 0, 0, 0.5);
    --shadow-hover: #cf6400;
    --color-headings: #0077FF;
}


/* body */

body {
    background-color: var(--theme-color);
    background-color: var(--bg);
}


/* links */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/* elementos */

#choices-inicio {
    color: var(--h1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2.5rem;
    text-indent: 2rem;
}

#light {
    margin: 2rem 0 0 2rem;
    cursor: pointer;
    display: flex;
}


/* cards */

#cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-2 {
    padding: 3.5rem;
    margin: 8rem auto;
    border-radius: 0.3rem;
    width: auto;
    height: auto;
    line-height: 2rem;
    box-shadow: 0px -7px 15px var(--shadow-cards);
    text-transform: uppercase;
    transition: all 0.5s;
}

.cards-2:first-child {
    padding: 3.5rem;
    margin: 8rem auto;
    border-radius: 0.3rem;
    width: auto;
    height: 26.813rem;
}

.cards-2 span {
    display: flex;
    height: 4rem;
    margin-top: 3.313rem;
    justify-content: center;
    align-items: center;
    font-size: 3.125rem;
    color: #fff;
}


/* Efeitos */

.cards-2:hover {
    margin-bottom: 2rem;
    box-shadow: 0px -7px 50px var(--shadow-hover);
}


/* Cores dos cards */

.css {
    background-color: var(--css);
}

.html {
    background-color: var(--html);
}

.js {
    background-color: var(--js);
}


/* Input dark mode */

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+label {
    background-color: var(--color-headings);
}

input:checked+label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}