/* geral */

* {
    margin: 0;
    padding: 0;
    transition: all 0.2s
}


/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Share+Tech+Mono&display=swap');
.koulen {
    font-family: 'Koulen', cursive;
}

.share {
    font-family: 'Share Tech Mono', monospace;
}


/* Buttons geral */

button {
    border: none;
    outline: none;
}


/* variáveis */

html {
    --h1: #F5A300;
    --button: #F5A300;
    --numbers: #F5A300;
    --theme-color: #fff;
    --details-color: #ececec;
    --button-hover: #000;
    --cards: #1D307C;
    --js-theme: #FFBA32;
    --css-theme: #2196F3;
    --html-theme: #FF5722;
    --css: #0F5892;
    --words-question-css-html: #fff;
    --html: #D23403;
    --js: #DF9707;
    --words-question-js: #000;
    --shadow-cards: rgba(0, 0, 0, 0.5);
    --shadow-hover: #cf6400;
    --color-headings: #0077FF;
    --question-css: #02589C;
    --question-js: #DB9200;
    --question-html: #C12E00;
}

#bg-js {
    background-color: var(--js-theme);
}

#bg-html {
    background-color: var(--html-theme);
}

#bg-css {
    background-color: var(--css-theme);
}


/* Página quiz HTML */

#light {
    margin: 2rem 0 0 2rem;
    cursor: pointer;
    display: flex;
}


/* Questões */

.quiz-section {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    height: 8rem;
}

.quiz-subsection {
    margin: 0 auto;
    display: flex;
    width: 80%;
    height: 8rem;
}

img {
    width: 6rem;
}

.question {
    margin: auto 0;
    font-size: 2rem;
    margin-left: 1rem;
    color: var(--words-question-css-html);
}


/* Respostas css */

#answers-section-css {
    justify-content: center;
    align-items: center;
    color: #fff;
}

.answers-css {
    background: var(--question-css);
    width: 80%;
    height: 2.7rem;
    margin: 3rem auto;
    border-radius: 0.3rem;
    cursor: pointer;
    line-height: 2.5rem;
}

.answers-css span {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Respostas js */

#answers-section-js {
    justify-content: center;
    align-items: center;
    color: #fff;
}

.answers-js {
    background: var(--question-js);
    width: 80%;
    height: 2.7rem;
    margin: 3rem auto;
    border-radius: 0.3rem;
    cursor: pointer;
}

.answers-js span {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.5rem;
}


/* Respostas html */

#answers-section-html {
    justify-content: center;
    align-items: center;
    color: #fff;
}

.answers-html {
    background: var(--question-html);
    width: 80%;
    height: 2.7rem;
    margin: 3rem auto;
    border-radius: 0.3rem;
    cursor: pointer;
    line-height: 2.5rem;
}

.answers-html span {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Botão de próximo js */

#button-next-section {
    margin: 5rem auto 0 0;
    width: 100%;
    justify-content: end;
    display: flex;
}

#button-next-js {
    margin: 2rem 7.5rem 0 0;
    padding: 0.7rem;
    border-radius: 0.3rem;
    background-color: var(--question-js);
    color: #fff;
    text-transform: uppercase;
    border: none;
    outline: none;
    width: 4rem;
    cursor: pointer;
    transition: all 0.5s;
}

#button-next-js:hover {
    box-shadow: 0px 0px 10px 2px #000;
    margin: 3rem 7.5rem 0 0;
}

#button-next-js:active {
    border: none;
    outline: none;
}


/* Botão de próximo css */

#button-next-section {
    margin: 5rem auto 0 0;
    width: 100%;
    justify-content: end;
    display: flex;
}

#button-next-css {
    margin: 2rem 7.5rem 0 0;
    padding: 0.7rem;
    border-radius: 0.3rem;
    background-color: var(--question-css);
    color: #fff;
    text-transform: uppercase;
    border: none;
    outline: none;
    width: 4rem;
    cursor: pointer;
    transition: all 0.5s;
}

#button-next-css:hover {
    box-shadow: 0px 0px 10px 2px #000;
    margin: 3rem 7.5rem 0 0;
}

#button-next-css:active {
    border: none;
    outline: none;
}


/* Botão de próximo html */

#button-next-section {
    margin: 5rem auto 0 0;
    width: 100%;
    justify-content: end;
    display: flex;
}

#button-next-html {
    margin: 2rem 7.5rem 0 0;
    padding: 0.7rem;
    border-radius: 0.3rem;
    background-color: var(--question-html);
    color: #fff;
    text-transform: uppercase;
    border: none;
    outline: none;
    width: 4rem;
    cursor: pointer;
    transition: all 0.5s;
}

#button-next-html:hover {
    box-shadow: 0px 0px 10px 2px #000;
    margin: 3rem 7.5rem 0 0;
}

#button-next-html:active {
    border: none;
    outline: none;
}


/* Input darkMode */

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+label {
    background-color: var(--color-headings);
}

input:checked+label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}